/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(231, 216, 228);
} */
/* -------------- room.ejs -------------- */

h1 {
    text-align: center;
    margin-top: 15px;
}

input {
    width: 100%;
    height: 40px;
    text-indent: 10px;
}

button {
    width: 100%;
    height: 50px;
    background-color: #1a2eda;
    color: white;
    font-size: larger;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: none;
}

.fields {
    width: 100%;
}

.window {
    margin: auto;
    margin-top: 20px;
    width: 700px;
    height: 500px;
    border: 2px solid #c2c6b6;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.chat-message {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#output, #feedback {
    margin-left: 10px;
}

.online {
    height: 100vh;
    width: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(110, 103, 103);
}

.online .users-online {
    background-color: rgb(110, 103, 103);
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.users {
    margin-left: 40px;
    margin-top: 50px;
}

.users p {
    background-color: rgb(110, 103, 103);
    color: white;
}

/* -------------- index.ejs -------------- */

.content {
    /* background-color: white; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.content input {
    margin-bottom: 20px;
    height: 50px;
    border: 1px solid black;
    border-radius: 7px;
}

.content input[type="submit"] {
    cursor: pointer;
}

::placeholder {
    font-weight: 700;
}

.content div {
    border: 2px solid black;
    padding: 70px;
    border-radius: 25px;
}


/* trying */
/* html {
    background-color: #10151B;
    background: url(https://cdn2.vectorstock.com/i/1000x1000/77/01/chat-wallpaper-social-media-message-background-vector-30037701.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  body {
    font-family: "Oswald", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  
 
  .center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 581px;
    height: 50%;
  }
  
  
  
 
  .container{
      background-color: whiteSmoke;
  } */
  html { 
    background: url(https://image.freepik.com/vecteurs-libre/fond-bleu-fonce-hexagonal-scientifique-futuriste-espace-pour-texte_67515-497.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
  
  img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }
  
  #login-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(3,3,3,.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #000;}
  
  /* Login container */
  #container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
  }
  
  .close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .close-btn:hover{
    opacity: .5;
  }
  
  /* Heading */
  h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
  }
  
  /* Inputs */
  a,
  input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
  }
  
  /* Placeholders */
  ::-webkit-input-placeholder {
     color: #ddd;  }
  :-moz-placeholder { /* Firefox 18- */
     color: red;  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: red;  }
  :-ms-input-placeholder {  
     color: #333;  }
  
  /* Link */
  a{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 4px 8px;
    background: rgba(107,255,3,0.3);
  }
  
  a:hover{
    opacity: 0.7;
  }
  
  